# *.proto linguist-detectable=true
*.proto linguist-vendored

pages/** linguist-documentation

dist/** linguist-generated
examples/** linguist-vendored
scripts/** linguist-vendored
test/** linguist-vendored
